@import (inline) "../../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";


@class-prefix: wap;
@player-ID: webAudioPlayer;
@player-main-color: #333;


@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata-webfont.eot');
    src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata-webfont.woff2') format('woff2'),
         url('../fonts/inconsolata-webfont.woff') format('woff'),
         url('../fonts/inconsolata-webfont.ttf') format('truetype'),
         url('../fonts/inconsolata-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/entypo.woff') format('woff'),
  url('../fonts/entypo.ttf') format('truetype'),
  url('../fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}




#@{player-ID} {
  position: relative;
  width: 100%;
  max-width: 350px;
  min-width: 320px;
  font-family: Inconsolata, sans-serif;
  margin: 0 auto;

  .@{class-prefix}-playlist {
    border: 1px solid @player-main-color;

    .@{class-prefix}-tracker {

      li {
        color: @player-main-color;
        list-style-type: none;
      }
    }
  }
}