
@player-bg: #272e2a;
@player-border-radius: 10px;
@wap-header-bg: #f86f05;
@wap-header-height: 60px;
@wap-footer-bg: #1b1f1c;
@wap-right-block-width: 278px;
@wap-right-block-bg: #fff;
@wap-song-even-bg: #ddd8d3;
@wap-footer-height: 54px;

@font-face {
    font-family: 'Proxima-Nova-Regular';
    src: url('../fonts/proxima_nova_regular-webfont.eot');
    src: url('../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#webAudioPlayer {
  position: relative;
  width: 100%;
  height: 430px - @wap-header-height - @wap-footer-height + 8px;
  max-width: 578px;
  min-width: @wap-right-block-width;
  font-family: Proxima-Nova-Regular, sans-serif;
  margin: @wap-header-height*2 auto @wap-footer-height*2 auto;
  background: @player-bg;

  .wap-header,
  .wap-playlist,
  .wap-footer {
    position: absolute;
    width: 100%;
    left: 0;
  }

  .wap-header {
    top: -@wap-header-height;
    height: @wap-header-height;
    border-top-left-radius: @player-border-radius;
    border-top-right-radius: @player-border-radius;
    text-align: center;
    line-height: @wap-header-height - 3px;
    background: @wap-header-bg;

    .wap-logo {
      display: inline-block;
      width: 35px;
      height: 35px;
      vertical-align: middle;
      background: url("../img/wap-logo.png") no-repeat;
    }
  }

  .wap-footer {
    bottom: -@wap-footer-height;
    height: @wap-footer-height;
    border-bottom-left-radius: @player-border-radius;
    border-bottom-right-radius: @player-border-radius;
    background: @wap-footer-bg;
  }

  .wap-playlist {
    top: 0;
    left: auto;
    right: 0;
    width: @wap-right-block-width;
    height: 100%;
    min-width: 278px;
    overflow: hidden;
    -moz-box-shadow: inset 0 -20px 20px -20px #000;
    -webkit-box-shadow: inset 0 -20px 20px -20px #000;
    box-shadow: inset 0 -20px 20px -20px #000;
    background: @wap-right-block-bg;

    .wap-tracker {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        color: #353535;
        font-size: 16px;
        cursor: pointer;
        padding: 15px 30px 15px 35px;

        &:nth-child(even) {
          background: @wap-song-even-bg;
        }

        &.active {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 12px;
            top: 17px;
            width: 14px;
            height: 14px;
            background: url("../img/playlist-active-icon.png") no-repeat;
          }
        }
      }

      .wap-track-duration {
        float: right;
        color: #9e9e9e;
      }
    }
  }
}